extends ../header.pug

block title
  title Danh sách lớp học

block append script
  script(src='https://kit.fontawesome.com/7b85820244.js' crossorigin='anonymous')

block append css
  link(rel='stylesheet' href='/public/source/css/classroom.css  ')
  link(rel='stylesheet' href='/public/source/css/edit-classroom.css ')
  link(rel='stylesheet' href='/public/source/css/notice.css')
  link(rel='stylesheet' href='/public/source/fonts/fontawesome-free-6.2.0-web/css/all.css')

block content
  section.home-section
    .home-content
      i.fa-solid.fa-bars
  .page-wrapper
    .content
      .page-header
        .page-header-title
          .page-header-student-title
            h3.page-title Danh Sách Lớp
      .student-group-form
        .search-group
          .submit-form-student.submit
            .form-group.local-form
              select.form-control-edit-btn(required='' name='HocKy')
                option(value='') Chọn học kỳ
                option(value='1') Học kỳ 1
                option(value='2') Học kỳ 2
          .submit-form-student.submit
            .form-group.local-form
              select.form-control-edit-btn(required='' name='MaNamHoc')
                option(value='') Chọn năm học
          .submit-form-student.submit
            .form-group.local-form
              select.form-control-edit-btn(required='' name='MaKhoi')
                option(value='') Chọn khối
          .search-student-btn
            .search-btn
              button.btn(type='button') Lấy thông tin
      .student-form
        .card
          .card-table
            .card-body
              .card-body_head
                .card-body_header
                  .page-header-student-title
                    h3.page-title Lớp

              .card-body_body
                .Data-Table
                  .Data-Table-body
                    .Table-body
                      table.Table
                        thead.student-thead
                          tr.thead(role='row')
                            th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='MaLop')
                              | Mã Lớp
                            th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='Lop')
                              | Tên Lớp
                            th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='Khoi')
                              | Khối
                            th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='HocKy')
                              | Học Kỳ
                            th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='NamHoc')
                              | Năm Học

                        tbody.student-tbody
                          each LopHoc in ClassDataList
                            tr.odd.table-normal(role='row' id=LopHoc.MaLop)
                              td #{LopHoc.MaLop}
                              - var href = '/user/DanhSachHocSinhTrongLop/' + LopHoc.MaLop
                              td
                                a(href=href) #{LopHoc.TenLop}
                              td #{LopHoc.MaKhoiLop}
                              td #{LopHoc.MaHocKy}
                              td 2021 - 2022

                  .Data-Table-footer

  script(src='/public/source/js/main.js')
  script(src='/public/source/js/edit-student.js ')
  script(src='/public/source/js/students.js ')
