extends ../header.pug

block title
  title Quản Lý Danh Sách Môn Học

block append css
    link(rel='stylesheet' href='/public/source/css/students.css  ')
    link(rel='stylesheet' href='/public/source/css/edit-student.css ')

block content
    section.home-section
      .home-content
        i.fa-solid.fa-bars
    .page-wrapper
      .content
        .page-header
          .page-header-title
            .page-header-student-title
              h3.page-title Quản Lý Môn Học
        // Start: Search Bar
        .student-group-form
          .search-group
            .submit-form-student.submit
              .form-group.local-form
                select.form-control-edit-btn(required='' name ='KhoiLop')
                  option Chọn năm học
            .submit-form-student.submit
              .form-group.local-form
                select.form-control-edit-btn(required='')
                  option Chọn học kỳ
            .search-bar
              .form-group
                input.form-control(id='searchbox' onkeyup='search()' type='text' placeholder='Tìm kiếm ...')
            .search-student-btn
              .search-btn
                button.btn(type='button') Tìm Kiếm
        // End: Search Bar
        .student-form
          .card
            .card-table
              .card-body
                .card-body_head
                  .card-body_header
                    .page-header-student-title
                      h3.page-title Môn Học
                    .card-body_header-icon
                      a.btn(href='/admin/ThemMonHoc')
                        i.fa-solid.fa-plus
                .card-body_body
                  .Data-Table
                    .Data-Table-body
                      .Table-body
                        table.Table
                          thead.student-thead
                            tr.thead(role='row')
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='MaMH')
                                | Mã Môn Học
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='TenMH')
                                | Tên Môn Học
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='MoTa')
                                | Mô Tả
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='HeSo')
                                | Hệ Số
                              th.text-end.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='ChinhSua')
                                | Chỉnh sửa
                          tbody.student-tbody
                            each subject in SubjectDataList  
                              tr.odd.table-normal.table-data(role='row', id=subject.MaMH)
                                td #{subject.MaMH}
                                td
                                    a(href='#') #{subject.TenMH}
                                td #{subject.MoTa}
                                td #{subject.HeSo}
                                td.text-end
                                  .action
                                    - var functionName_1 = "XoaMonHoc('" + subject.MaMH + "')"
                                    a.delete-btn(href='#',onclick=functionName_1)
                                        i.fa-solid.fa-trash
                                    - var functionName = 'LayThongTin("' + subject.MaMH + '")';
                                    a.edit-btn.js-edit-student(href='#', onclick=functionName)
                                        i.fa-solid.fa-pen-to-square
                    .Data-Table-footer
    // Modal
    .modal.js-modal
      .student-form-edit.js-modal-content
        .card
          .card-table
            .card-body-edit
              .modal-close.js-modal-close
                i.fa-solid.fa-xmark
              form(id="edit-student-form")
                .page-header-student-title
                  h5.page-title Thông tin môn học
                .row
                  .edit-form-student
                    .submit-form
                      .form-group.local-form
                        label
                          | Mã Môn Học 
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập mã môn học...', id='MaMH')

                    .submit-form  
                      .form-group.local-form
                        label
                          | Tên Môn Học 
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập tên môn học...', id='TenMH')

                    .submit-form    
                      .form-group.local-form
                        label
                          | Mô tả 
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập mô tả môn học...', id='MoTa')

                    .submit-form    
                      .form-group.local-form
                        label
                          | Hệ Số 
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập hệ số môn học...', id='HeSo')
                   
                    .submit-form
                      .form-group.local-form
                        //- label
                        //-   | Mã học sinh
                        //-   span.login-danger *
                        input.form-control-edit(required='' type='hidden' id='MaMH')
                  .student-image
                    label  Tải hình ảnh môn học 
                    span.login-danger *
                    .form-group
                      .student-avatar
                        img#avatar(src='/public/source/img/—Pngtree—book icon_5143094.png ' alt='avatar')
                      .upload
                        input#UploadImage(accept='image/*' required='' type='file' hidden='')
                        label(for='UploadImage') Chọn tệp
                .student-image-submit
                  .image-submit
                    button.search-btn.btn(id="submit-button" onclick="CapNhatThongTin()") 
                      | Xác nhận

    script(src='/public/source/js/main.js')
    script(src='/public/source/js/edit-student.js ')
    script(src='/public/source/js/students.js ')
    script(src='/public/source/js/edit-subject.js ')
    script. 
      function search() {
        let input = document.getElementById('searchbox').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('table-data');
          
        for (i = 0; i < x.length; i++) { 
          if(!x[i].innerHTML.toLowerCase().includes(input)) 
            x[i].style.display="none";
          else 
            x[i].style.display="table-row";                 
        }
      }
